
*.ide-wal
WebApplication1/WebApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1/WebApplication1/App_Data/aspnet-WebApplication1-20181211112737_log.ldf
WebApplication1/.vs/WebApplication1/v15/.suo
WebApplication1/WebApplication1/App_Data/aspnet-WebApplication1-20181211112737.mdf
WebApplication1/WebApplication1/obj/Debug/WebApplication1.pdb
WebApplication1/WebApplication1/obj/Debug/WebApplication1.dll
WebApplication1/WebApplication1/bin/WebApplication1.pdb
WebApplication1/WebApplication1/bin/WebApplication1.dll
WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/storage.ide-shm
WebApplication1/.vs/WebApplication1/v15/.suo
WebApplication1/.vs/config/applicationhost.config
