@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMDB</h1>
    <p class="lead">Best movie information site</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>new movies</h2>
        <p>
            
we show you bast movies in world 
        </p>
        <p><a class="btn btn-default" href="/Movies/Movie">movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>movies genre</h2>
        <p>?????</p>
        <p><a class="btn btn-default" href="/Home/Genre">your love ganer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TOP 10</h2>
        <p>!!!!!!</p>
        <p><a class="btn btn-default" href="/Home/Top10">bast for now &raquo;</a></p>
    </div>
</div>