@model WebApplication1.Models.Movies

@{
    ViewBag.Title = "_tryaddmovie";
}
<div class="list detail sub-list">
    <div class="list_item odd" itemscope itemtype="http://schema.org/Movie">
        <table cellspacing="0" cellpadding="0" border="0" class="nm-title-overview-widget-layout">
            <tbody>
                <tr>
                    <td rowspan="2" valign="top" id="img_primary">
                        <div class="image">
                            <a>
                                <div class="hover-over-image zero-z-index">
                                    <img class="poster shadowed"
                                         height="209"
                                         width="140"
                                         alt="Spider-Man: Into the Spider-Verse (2018) Poster"
                                         title="Spider-Man: Into the Spider-Verse (2018)"
                                         src=@ViewBag.t />
                                </div>
                            </a>
                        </div>
                    </td>
                    <td class="overview-top">
                        <h4>
                            <a title="Spider-Man: Into the Spider-Verse (2018)">Spider-Man: Into the Spider-Verse (2018)</a>
                        </h4>
                        <p class="cert-runtime-genre">
                            <img alt="Certificate PG"
                                 class="absmiddle certimage"
                                 src="https://m.media-amazon.com/images/G/01/imdb/images/certificates/us/pg-1313470000._CB470042461_.png" />
                            <time datetime="PT117M">117 min</time>
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            <span>Animation</span>
                            <span class="ghost">|</span>
                            <span>Action</span>
                            <span class="ghost">|</span>
                            <span>Adventure</span>
                            <span class="ghost">|</span>
                            <span>Comedy</span>
                            <span class="ghost">|</span>
                            <span>Family</span>
                            <span class="ghost">|</span>
                            <span>Sci-Fi</span>
                        </p>
                        <div class="rating_txt">
                            <span class="metascore favorable">87 </span>
                            Metascore
                        </div>
                        <div class="outline">
                            Miles Morales becomes the Spider-Man of his reality and crosses paths with his counterparts from other dimensions to stop a threat to all reality.
                        </div>
                        <div class="txt-block">
                            <h5 class="inline">Directors:</h5>
                            <span>
                                <a>Bob Persichetti</a>
                            </span>
                            <span class="ghost">|</span>
                            <span>
                                <a>Peter Ramsey</a>
                            </span>
                            <span class="ghost">|</span>
                            <span>
                                <a>Rodney Rothman</a>
                            </span>
                        </div>
                        <div class="txt-block">
                            <h5 class="inline">Stars:</h5>
                            <a>Shameik Moore</a>,
                            <a>Jake Johnson</a>,
                            <a>Hailee Steinfeld</a>,
                            <a>Mahershala Ali</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="overview-bottom">
                        <script>
                            if (typeof uet == 'function') {
                                uet("bb", "SmallTrailerWidget", { wb: 1 });
                            }
                        </script>

                        <script>
                            if (typeof uet == 'function') {
                                uet("be", "SmallTrailerWidget", { wb: 1 });
                            }
                        </script>
                        <script>
                            if (typeof uex == 'function') {
                                uex("ld", "SmallTrailerWidget", { wb: 1 });
                            }
                        </script>
                        <span class="wlb_wrapper">

                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
