@using WebApplication1.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Genres";
    List<Ganers> Ganer = ViewBag.GanersList;
}

@Html.Partial("_panelSite")
<body id="styleguide-v2" class="fixed">
    <div class="article listo nm" style="background-image:url('https://pbs.twimg.com/profile_images/545694965917966336/hsZg-dNz_400x400.png')">
        <h2>@ViewBag.Title</h2>
        <h4>choose your genre:</h4>
        <div class="row">
            <div class="col-md-4">
                <table class="table-responsive">
                    @{ foreach (Ganers g in Ganer)
                        {
                            <tr>
                                <li>@Html.ActionLink(g.NameGaner, "Ganer", "Movies",g.NameGaner, new { @class = "active" })</li>

                            </tr>
                        }
                    }
                </table>
                </div>
            </div>
        </div>

</body>
