@{
    ViewBag.Title = "Genres";
}
@Html.Partial("_panelSite")
<body id="styleguide-v2" class="fixed">
    <div class="article listo nm">
        <h2>@ViewBag.Title</h2>
        <h4> Action Comedy Drama Family </h4>
        <p>choose your genre:</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div id="titleMenuImage" style="background: url('https://pbs.twimg.com/profile_images/545694965917966336/hsZg-dNz_400x400.png')">
                            What is supposed to come here?
                        <div class="caption">
                            EveryThing goes there
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</body>
