@{
    ViewBag.Title = "Top 10";
}
@Html.Partial("_panelSite")
<body id="styleguide-v2" class="fixed">
    <div class="article listo nm">
        <h2>@ViewBag.Title</h2>


        <h4>Top 10 rated movies</h4>
        </div>
</body>